:root {
  --primary-color: #6eabff;
  --secondary-color: #041838;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 34px;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.navbar-color {
  background: var(--primary-color);
}

.navbar-brand {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.nav-link {
  color: white;
}

.navbar-brand:hover {
  color: var(--secondary-color);
}

.nav-link:hover {
  color: var(--secondary-color);
}

.homepage-content {
  margin: 60px auto;
  max-width: 800px;
}

.container-fluid {
  display: flex;
  justify-content: space-evenly;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.contact-link,
.app-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-weight: bold;
}

.app-link {
  margin-bottom: auto;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.contact-link:hover,
.app-link:hover {
  background: var(--secondary-color);
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-weight: bold;
}

.about-link:hover {
  color: var(--secondary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  justify-content: center;
  width: 50%;
}

.about-paragraphs p {
  margin: 10px;
  text-align: center;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  margin-top: 10px;
}

.email-link:hover {
  text-decoration: underline;
}

.img-fluid {
  background: var(--primary-color);
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  flex-wrap: wrap;
}

.img-fluid:hover {
  background: var(--secondary-color);
}

.about-page-image-row {
  display: flex;
  justify-content: space-evenly;
}

#heading {
  margin-top: 10px;
}

#description {
  margin: 5px 0 20px 0;
}

#contact {
  margin-top: 40px;
}
